.gallery-title {
	text-align: center;
	color: var(--text-color);
}

.gallery-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	margin: auto;
	gap: 50px;
}

.gallery-item {
	width: 200px;
	height: 200px;
}

@media (max-width: 750px) {
	.gallery-container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 550px) {
	.gallery-container {
		grid-template-columns: repeat(1, 1fr);
	}
}
