.constructor-gel {
	margin: 20px;
	margin-top: 50px;
}

.constructor-gel-img {
	width: 300px;
	height: 300px;
}

.constructor-gel-desc {
	text-align: left;
}

.constructor-gel-desc p {
	text-align: justify;
}

@media (max-width: 350px) {
	.constructor-gel img {
		width: 200px;
		height: 200px;
	}
}
