.nail-polish {
	margin: 20px;
	margin-top: 50px;
	text-align: center;
}

.nail-polish-img {
	width: 300px;
	height: 300px;
}

.nail-polish-desc {
	margin-left: 20vw;
	margin-right: 20vw;
}

@media (max-width: 350px) {
	.nail-polish img {
		width: 200px;
		height: 200px;
	}
}
