.nail-polish {
	margin: 20px;
	margin-top: 50px;
}

.nail-polish-img {
	width: 300px;
	height: 300px;
}

.nail-polish-desc {
	text-align: left;
}

.nail-polish-desc p {
	text-align: justify;
}

@media (max-width: 350px) {
	.nail-polish img {
		width: 200px;
		height: 200px;
	}
}
