.step-1-and-2 {
	margin: 20px;
	margin-top: 50px;
}

.step-1-and-2-img {
	width: 300px;
	height: 300px;
}

.step-1-and-2-desc {
	text-align: left;
}

.step-1-and-2-desc p {
	text-align: justify;
}

@media (max-width: 350px) {
	.step-1-and-2 img {
		width: 200px;
		height: 200px;
	}
}
