.top-coat {
	margin: 20px;
	margin-top: 50px;
	text-align: center;
}

.top-coat-img {
	width: 300px;
	height: 300px;
}

.top-coat-desc {
	margin-left: 20vw;
	margin-right: 20vw;
}

@media (max-width: 350px) {
	.top-coat img {
		width: 200px;
		height: 200px;
	}
}
